<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class=""form">
       forgotPasswordForm
  <h3 class="form-name">RESET PASSWORD</h3> 
  <input class="form-control" type="email" name='email' placeholder='Email Address'/>
  <button class="btn btn-primary my-3"> Reset Password</button>
</div>
</div>
</body>
</html>
