<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
    <style>
        .column{
            margin: 113px 0px 0px 253px;
        }
        .column i{
            margin-right: 50px;
        }

    </style>
</head>
<body>
<div class="column">
            <i class="fa-solid fa-list-ul fa-2x"></i>
                <i class="fa-solid fa-map fa-2x"></i>
                <a href="/box"><i class="fa fa-th-large fa-2x" aria-hidden="true"></i></a>
            </div>
</body>
</html>