.milkpercent{
    border-radius: 5px;
    border:1px  solid  #a4a5a7;
    width: 270px;
    height: 155px;
    z-index: 10;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 142px;
    left: 480px;
}
.milkpacking{
    padding-top: 5px;
    text-align: center;
    height: 32px;
    background-color: #2565AE;
    font-size: 18px;
    color: #fff;
}
 .Battery Percentage{
    font-size: 14px;
    color: #333;
    text-align: center;
}
.Percentage{
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    color: green;
    font-size: 21px;
}
.Percentage i{
    margin-left: 10px;
}
#datetime{
    margin-left: 70px;
    margin-top: 10px;
}